[run]
branch = true
source =
    EPCPyYes

[report]
omit =
    *site-packages*
    *__init__.py
    *tests*
    *.tox*
    # these are just enums
    */tests/*
    */CBV/*

show_missing = True
exclude_lines =
    raise NotImplementedError
    self\._[a-z_]* = value
