
include AUTHORS.rst

include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE.md
include README.rst

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.xml *.rst *.md *.ipynb conf.py Makefile make.bat *.jpg *.png *.gif
